@import url('https://fonts.cdnfonts.com/css/mondera-2');
@import url('https://fonts.cdnfonts.com/css/dellova');
body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f2;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #e63946;
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    font-family: 'Dellova', sans-serif;
    background-color: #f3892536;
    
}

h2 {
    color: #ff7b00;
    font-family: 'Dellova', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: #b10000;
    margin-bottom: 15px;
    font-family: 'Mondera', sans-serif;
    font-size: 25px;
}

p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-size: 1.1em;
    text-align: justify;
}

blockquote {
    background-color: #fcead9;
    border-left: 5px solid #ff7b00;
    padding: 15px 20px;
    margin: 20px auto;
    max-width: 700px;
    font-style: italic;
    color: #555;
}

ul, ol {
    margin: 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 8px;
}

caption strong {
    color: #b10000;
    font-family: 'Mondera', sans-serif;
    font-size: 30px;
}

em {
    color: #fff;
    font-weight: bold;
}

.card {
    background-color: #ff8c00;
    color: #fff;
    max-width: 700px;
    margin: 25px auto;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card ul, .card ol {
    color: #fff;
}

img {
    display: block;
    max-width: 400px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.3em;
    color: #e63946;
    margin-bottom: 10px;
}

th {
    background-color: #ff7b00;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    background-color: #ff7b00;
    color: white;
    padding: 15px;
    margin-top: 40px;
    font-size: 0.9em;
}
.center {
    text-align: center;
    margin: 30px;
}

#btnDica {
    background-color: #ff7b00;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

#btnDica:hover {
    background-color: #ffa733;
    transform: scale(1.05);
}

#dicaTexto {
    margin-top: 15px;
    font-style: italic;
    color: #333;
    font-weight: 500;
}
